<h5>Section Exam</h5>
<div class="card-container-2 d-flex flex-row">
    {% with item_number=1 %}
    {% for item in items_data %}
        <h5>{{ item_number }}. {{ item.title }}</h5>
        <p>Instructions: {{ item.instructions }}</p>
        <br>
        <br>
        <div class="d-flex flex-row btn-answer align-items-center">
            {% with choice_letter='a' %}
            {% for choice in choices_data %}
                {% if choice.item == item.uuid %}
                    <span class="ans-char">
                        {{ choice_letter }}
                    </span>
                    <div class="d-flex align-items-center">
                        {{ choice.short_input }}
                    </div>
                    {% with choice_letter|ord as choice_ord %}
                        {% with choice_ord|add:1 as next_choice_ord %}
                            {% with next_choice_ord|chr as next_choice_letter %}
                                {% with next_choice_letter as choice_letter %}
                                {% endwith %}
                            {% endwith %}
                        {% endwith %}
                    {% endwith %}
                {% endif %}
            {% endfor %}
            {% endwith %}
        </div>
        <br>
        <br>
        {% with item_number|add:1 as item_number %}
        {% endwith %}
    {% endfor %}
    {% endwith %}
</div>

<div class="pagination">
    <span class="step-links">
        {% if items_data.has_previous %}
            <a href="?page=1">&laquo; first</a>
            <a href="?page={{ items_data.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ items_data.number }} of {{ items_data.paginator.num_pages }}.
        </span>

        {% if items_data.has_next %}
            <a href="?page={{ items_data.next_page_number }}">next</a>
            <a href="?page={{ items_data.paginator.num_pages }}">last &raquo;</a>
        {% endif %}
    </span>
</div>
