{% extends 'base.html' %}
{% load static %}
{% block content %}
    <div class="d-flex flex-column container-1 my-5">
        {% for item in items_data %} 
            <h5>{{ forloop.counter }}. {{ item.title }}</h5>
            <p>Instructions: {{ item.instructions }}</p>
            <div class="d-flex flex-row">
                {% for choice in item.choices %}
                <div class="d-flex flex-row btn-answer align-items-center">
                    <span class="ans-char">{{ choice.label }}</span>
                    <div class="d-flex align-items-center">{{ choice.data.short_input }}</div>
                </div>
            {% endfor %}
            </div>
            <br>
        {% endfor %} 
    </div>

    <div class="pagination">
        <span class="step-links">
            {% if items_data.has_previous %}
                <a href="?page=1">&laquo; first</a>
                <a href="?page={{ items_data.previous_page_number }}">previous</a>
            {% endif %}

            <span class="current">
                Page {{ items_data.number }} of {{ items_data.paginator.num_pages }}.
            </span>

            {% if items_data.has_next %}
                <a href="?page={{ items_data.next_page_number }}">next</a>
                <a href="?page={{ items_data.paginator.num_pages }}">last &raquo;</a>
            {% endif %}
        </span>
    </div>
{% endblock %}