/* You can add your CSS styles here to customize the header appearance */
header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 12%;
  background-color: #ffff;
  height: 90px;
}
.logo {
  width: 160px;
}
nav {
  display: flex;
  gap: 30px;
  align-items: center;
}
nav a {
  text-decoration: none;
  color: #000;
}
nav a:hover{
  color: #ff7300;
}
.btn {
  padding: 8px 16px;
  background-color: #ff7300;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
.btn:hover{
  background-color: #f24725;
  color: #fff;
}
.user-dropdown {
  position: relative;
}
.username {
  padding: 8px 16px;
  text-decoration: none;
  color: #000;
  border: none;
  background-color: transparent;
  cursor: pointer;
  display: flex;
  align-items: center;
}
.caret-down {
  margin-left: 5px;
}
.caret-up {
  margin-left: 5px;
  transform: rotate(180deg);
}
.dropdown-content {
  display: none;
  position: absolute;
  top: 100%;
  right: 0;
  background-color: #f9f9f9;
  min-width: 120px;
  z-index: 1;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}
.dropdown-content a {
  color: #000;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}
.dropdown-content a:hover {
  background-color: #f1f1f1;
  color: #ff7300;
}
.user-dropdown:hover .dropdown-content {
  display: block;
}
// mobile response
.mobile-nav{
  display: none;
}
.hamburger{
  height: 40px;
  border: none;
  background: transparent;
  box-shadow: none;
}
.hamburger i{
  color: #ff7300;
}
.hamburger i:hover{
  color: #f24725;
}
@media screen and (max-width: 768px){
  .web-nav{
    display: none;
  }
  .mobile-nav{
    display: flex !important;
  }
}
